<header class="top-bar" id="mobile-main-header">
    <button id="mainNavTrigger" class="btn-menu-toggle">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2"
                d="M18 7H6m12 10H6m12-5H6" />
        </svg>
    </button>

    <div class="header-content-wrapper">
        <div class="header-brand-row">
            <a id="main-header-sigla-ou-logo" href="https://www.fcav.unesp.br/#!/cta">CTA</a>
            <a href="https://www.fcav.unesp.br/#!/">
                <img src="https://www.fcav.unesp.br/images/unesp.svg" id="header-mobile-main-logo" alt="Logo Unesp">
            </a>
        </div>
        <div id="main-header-titulo">Colégio Técnico Agrícola "José Bonifácio"</div>
    </div>
    <dialog id="navigationModal" class="modal-container">
        <div class="wrapper-off-canvas">
            <div class="modal-header">
                <div class="off-canvas-label">Navegação</div>
                <button id="closeNavModal" class="modal-close-btn">&times;</button>
            </div>
            <div class="modal-content">
                <ul class="pu-menu flex-column" id="pu-main-menu-off-canvas">
                    <li class="has-submenu">
                        <a href="https://www.fcav.unesp.br/#!/colegio-agricola/administracao/"
                            target="_parent"><span>Instituição</span></a>
                        <ul class="pu-menu">
                            <li class="active"><a
                                    href="https://www.fcav.unesp.br/#!/colegio-agricola/administracao/sobre-o-cta/"><span>Sobre
                                        o C.T.A.</span></a></li>
                            <li><a
                                    href="https://www.fcav.unesp.br/#!/colegio-agricola/administracao/localizacao/"><span>Localização</span></a>
                            </li>
                            <li><a
                                    href="https://www.fcav.unesp.br/#!/colegio-agricola/administracao/direcao/"><span>Direção</span></a>
                            </li>
                            <li><a
                                    href="https://www.fcav.unesp.br/#!/colegio-agricola/administracao/coordenadores/"><span>Coordenadores</span></a>
                            </li>
                            <li><a
                                    href="https://www.fcav.unesp.br/#!/colegio-agricola/administracao/corpo-docente/"><span>Corpo
                                        Docente</span></a></li>
                            <li><a
                                    href="https://www.fcav.unesp.br/#!/colegio-agricola/administracao/secretaria/"><span>Secretaria</span></a>
                            </li>
                            <li><a
                                    href="https://www.fcav.unesp.br/#!/colegio-agricola/administracao/associacao-de-pais-e-mestres---apm/"><span>Associação
                                        de Pais e Mestres</span></a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="https://www.fcav.unesp.br/#!/colegio-agricola/secretaria/"
                            target="_parent"><span>Cursos</span></a>
                        <ul class="pu-menu">
                            <li><a href="https://www.fcav.unesp.br/#!/colegio-agricola/secretaria/ensino-medio/"><span>Ensino
                                        Médio</span></a></li>
                            <li><a
                                    href="https://www.fcav.unesp.br/#!/colegio-agricola/secretaria/agropecuaria/"><span>Agropecuária</span></a>
                            </li>
                            <li><a
                                    href="https://www.fcav.unesp.br/#!/colegio-agricola/secretaria/informatica/"><span>Informática</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="https://www.fcav.unesp.br/#!/colegio-agricola/estagios/"
                            target="_parent"><span>Vida Acadêmica</span></a>
                        <ul class="pu-menu">
                            <li><a
                                    href="https://www.fcav.unesp.br/#!/colegio-agricola/estagios/mural/"><span>Mural</span></a>
                            </li>
                            <li><a
                                    href="https://www.fcav.unesp.br/#!/colegio-agricola/estagios/estagios/"><span>Estágios</span></a>
                            </li>
                            <li><a
                                    href="https://www.fcav.unesp.br/#!/colegio-agricola/estagios/boletim/"><span>Boletim</span></a>
                            </li>
                            <li><a
                                    href="https://www.fcav.unesp.br/#!/colegio-agricola/estagios/permanencia-estudantil/"><span>Permanência
                                        Estudantil</span></a></li>
                        </ul>
                    </li>
                    <li><a href="https://www.fcav.unesp.br/#!/colegio-agricola/vestibulinho/"
                            class="main-link"><span>Vestibulinho</span></a></li>
                    <li><a href="https://www.fcav.unesp.br/#!/colegio-agricola/regimento/"
                            class="main-link"><span>Regimento Escolar</span></a></li>
                    <li><a href="https://www.fcav.unesp.br/#!/colegio-agricola/projetos-pedagogicos/"
                            class="main-link"><span>Projetos Pedagógicos</span></a></li>
                </ul>
            </div>
        </div>
    </dialog>
</header>
<section class="brand-strip">
    <h1>OBSERVATÓRIO COLÉGIO TÉCNICO AGRÍCOLA</h1><br>
    <h2>"José Bonifácio"</h2>
</section>
